Exercicios e estudos do livro **Tratamento de Dados com Python + Pandas**

In [4]:
import pandas as pd
import numpy as np

No exemplo, inicialmente temos uma variável de nome indice que recebe como atributo uma lista com alguns números ordenados.

Alé de temos uma variável de nome _nomes_ que recebe como atributo uma lista composta de alguns números ordenados

no _data1_, é uma variável que instância e inicializa a função _pd.Series()_

In [3]:
# Definindo um índice personalizado

indice = [1,2,3,4,5,6]
nomes=['Barney', 'Pollyana', 'Rafael', 'Naruto', 'Tolkien', 'Sérgio']

dados1=pd.Series(data = nomes, index=indice)

dados1

1      Barney
2    Pollyana
3      Rafael
4      Naruto
5     Tolkien
6      Sérgio
dtype: object

**Integrando uma Array Numpy em uma Serie**

In [5]:
# Gerando um array por meio da biblioteca Numpy e Pandas

nomes = np.array(['Barney', 'Pollyana', 'Rafael', 'Naruto', 'Tolkien', 'Sérgio'])

dados2 = pd.Series(data = nomes)

dados2

0      Barney
1    Pollyana
2      Rafael
3      Naruto
4     Tolkien
5      Sérgio
dtype: object

**np.arange()**, irá gerar valores ordenados de 0 até 5, a serem utilizados como índice

In [6]:
# Integrando funções com Séries

paises = ['Brasil', 'Argentina', 'Canadá', 'França', 'Itália', 'Noruega']

dados3 = pd.Series (data = paises, index= np.arange(0,6))

dados3

0       Brasil
1    Argentina
2       Canadá
3       França
4       Itália
5      Noruega
dtype: object

**Verificando o tamanho de uma Serie**

O importante aqui é entender que, ao inspecionar o tamanho de uma Serie ou DataFrame, apenas teremos um resultado útil quando tais estruturas de dados possuírem um índice nativo. 

Uma arrey foi feito através do np.array (dados2) e o outro pelo np.arange() (dados3)

In [10]:
print(dados2.index)

#ou

dados3.index

RangeIndex(start=0, stop=6, step=1)

Int64Index([0, 1, 2, 3, 4, 5], dtype='int64')